* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #333;
}

fieldset {
  padding: 0;
  border: none;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-right: auto;
  color: linen;
}

.app {
  position: relative;
  background-color: linen;
  max-width: 65ch;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: darkslategray;
  color: linen;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 6rem;
  margin-bottom: 1.4rem;
}

header > form,
header > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

header > form > fieldset,
header > div > p {
  grid-column: 1/3;
}

.loginField {
  display: grid;
  gap: 0.25rem;
}

.loginField > input {
  text-align: right;
}

.message {
  z-index: 99;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.9;
  font-weight: 600;
  padding: 2rem;
  border-radius: 0.5rem;
}

.wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper > * + * {
  margin-top: 1.4rem;
}

.message[data-state="ok"] {
  background-color: seagreen;
}
.message[data-state="error"] {
  text-transform: uppercase;
  background-color: tomato;
}

.newBlogForm {
  margin-top: 1rem;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: auto 1fr;
}

.bloglist {
  display: flex;
  flex-direction: column;
}

.bloglist > * + * {
  margin-top: 1.4rem;
}

.blogHeader {
  display: flex;
  align-items: center;
}

.blogLikeField {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.likeButton {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
}
.likeButton:hover {
  filter: drop-shadow(0 0 2px red);
}

.blogitem {
  padding: 0.5rem;
  border: 2px solid #333;
  border-radius: 0.5rem;
  display: flex;
}

.blogitem > .toggle-field {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.blogitem .toggle-button {
  margin-left: 1rem;
}
