:root {
  --color-dark: #342e37;
  --color-light: #fafffd;
  --color-primary: #3c91e6;
  --color-secondary: #9fd356;
  --color-tertiary: #fa8246;
  color: var(--color-dark);
  background-color: var(--color-light);
}

*,
:after,
:before {
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  line-height: 1.4;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

.site-wrap {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  max-width: 85ch;
  margin-left: auto;
  margin-right: auto;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

/* Header Styles */

.site-head {
  background-color: var(--color-dark);
  color: var(--color-light);
  height: 4.5rem;
  display: flex;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.login-form {
  margin-left: auto;
  display: grid;
}

.login-info {
  font-family: sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
}

.login-form[data-state="login-open"] {
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.25rem;
  column-gap: 0.5rem;
  grid-auto-flow: column;
}

.login-form[data-state="logged-in"] {
  grid-template-columns: 1fr auto;
  align-content: center;
  gap: 0.5rem;
}

.login-form input {
  background-color: var(--color-light);
  font-size: 0.8rem;
  padding: 0.2rem;
  color: var(--color-dark);
}

button {
  align-self: center;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 800;
  color: var(--color-dark);
  cursor: pointer;
}

button:hover {
  outline: 2px solid var(--color-light);
}

.nav-link {
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  margin-right: 2rem;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Main styles */
body {
  background-color: var(--color-dark);
}

main {
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--color-light);
}

h1,
h2,
h3,
h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
}

/* Bloglist */

.blogitem {
  display: flex;
  margin-top: 1rem;
  align-items: flex-end;
}

.blogLikeField {
  margin-left: 1rem;
}

.blogLikes {
  font-size: 1rem;
  font-family: sans-serif;
}

.likeButton {
  text-align: center;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: crimson;
  margin-right: 0.25rem;
  cursor: pointer;
  border-radius: 50%;
  outline: 1px solid crimson;
}

.likeButton:hover {
  filter: drop-shadow(0 0 2px crimson);
}

.message {
  position: absolute;
  width: fit-content;
  font-family: sans-serif;
  font-weight: 600;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.message[data-state="ok"] {
  background-color: var(--color-secondary);
}

.message[data-state="error"] {
  background-color: var(--color-tertiary);
}
